<div id="content">
  <div class="input-append">
    <input class="span2 height" id="appendedInput" type="text" placeholder="height">
    <span class="add-on">in</span>
  </div>
  , 
  <div class="input-append">
    <input class="span2 weight" id="appendedInput" type="text" placeholder="weight">
    <span class="add-on">lb</span>
  </div>

  <div class="btn guess">guess</div>

  <div class="feedback" style="display:none">
    <div class="gender"></div>
    <div class="btn btn-success" name="right">right</div>
    <div class="btn btn-danger" name="wrong">wrong</div>
  </div>
</div>